{% load static %}
<title>Deliver&Eats | Direcciones</title>

<body>
  <div class="return-btn" style="text-align: start">
        <a class="btn btn-primary" href="../../../carrito/">Volver</a>
  </div>
  <h1>Selecciona o agrega una dirección</h1>
  <div id="container">
  <div></div>

    <form di="seleccion_direccion" action="" method="POST">
        {% csrf_token %}
        {% for direccion in direcciones%}
            <div id="{{direccion.id_direccion}}" class="direccion">
                {{direccion}}
                <input id="{{direccion.id_direccion}}" value="Seleccion" type="submit">
            </div>
        {% endfor %}
    </form>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formulario.errors }}
        {{ formulario.label_tag }}
        <label for="direccion">Nueva dirección</label><br>
        {{ formulario.direccion }}<br>
        <input id="agregar" type="submit" name="agregar" value="Agregar">
    </form>

    <div></div>
  </div>
</body>