<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static%}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index_cliente.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Istok+Web&display=swap" rel="stylesheet">
    <title>Deliver&Eats | Cliente</title>
  </head>
  <body>
    <h1>Bienvenid@ de vuelta</h1>
    <div id="seleccion">
      <div id="container">
        <div><a href="../../../ver_menu/"><button type="button">Ver platillos</button></a></div>
        <div><a href="../../../historial_ordenes/"><button type="button">Ver historial</button></a></div>
        <div><a href="../../../carrito/"><button type="button">Ver carrito</button></a></div>
        <div><a href="../../../ordenes_activas/"><button type="button">Ver ordenes activas</button></a></div>
        <div><a href="../../../cerrar-sesion/"><button type="button">Cerrar Sesión</button></a></div>
      </div>
    </div>
  </body>
