<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static%}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index_administrador.css'%}"> 
    <link href="https://fonts.googleapis.com/css?family=Istok+Web&display=swap" rel="stylesheet">
    <title>Deliver&Eats | Administrador</title>
  </head>
  <body>
    <h1>Bienvenido Administrador</h1>
    <div id="seleccion">
      <div id="container">
        <div><a href="{% url 'platillos'%}"><button type="button">Menu Platillos</button></a></div>
        <div><a href="./lista-ordenes/"><button  type="button">Órdenes</button></a></div>
        <div><a href="../../../categoria"><button type="button">Categorias</button></a></div>
        <div><a href="./../../repartidor/registro-repartidor/"><button  type="button">Registrar repartidor</button></a></div>
        <div><a href="{% url 'platillos'%}"><button type="button">----</button></a></div>
        <div><a href="{% url 'platillos'%}"><button  type="button">----</button></a></div>
        <div><a href="../../../cerrar-sesion/"><button type="button">Cerrar Sesión</button></a></div>
      </div>
    </div>
  </body>