{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/repartidor/registro-repartidor.css' %}">
        <link rel="stylesheet" href="{% static 'css/repartidor/index-repartidor.css' %}">
		<title>Registrar repartidor</title>
	</head>
	<body>
		<h1 id="mensaje-bienvenida">Deliver&Eats</h1>

        <div class="contenedor">
            <div class="contenedor-menu">
                <h2>Registrar repartidor</h2>
        		<form class="formulario-repartidor" action="." method="POST" enctype="multipart/form-data">
        			{% csrf_token %}

        			{% for field in form %}
        			<div class="formulario-repartidor-informacion">
                        {% if not field.is_hidden%}
                            {{ field }}
                            {{ field.errors }}
                        {% endif %}

        			</div>
        			{% endfor %}
        			<input value="Registrar" type="submit" class="btn">
        		</form>
            </div>
        </div>

	</body>
</html>