{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Agregar categoria</title>
    <link href="https://fonts.googleapis.com/css?family=Istok+Web&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>
<body>
<div class="return-btn" style="text-align: start">
    <a class="btn btn-primary" href="../../../categoria/">Volver</a>
</div>
	<h1 align="center">Crea una categoría</h1>
    <br>
    <form action="../../../categoria/crear-categoria/" method="POST" enctype="multipart/form-data" align="center">
	   {% csrf_token %}
        {% for field in form %}
        <div class="crear_categoria_input">
            {{ field.label_tag }}
            {{ field }}
    	   {{ field.errors }} 
        </div>
        {% endfor %}
        <br>
        <input value="Confirmar" type="submit">
    </form>
</body>
</html>