{% load static %}
<title> Deliver&Eats | Categorías</title>
<link href="https://fonts.googleapis.com/css?family=Istok+Web&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<body>
  <h1 align="center">Categorías</h1>
  <br>
  <div id="btn-group" align="center">
    <div><a href="./crear-categoria/"><button class="btn btn-primary" id="btnCrearCategoria" type="button">Crear categoría</button></a></div>
    <br>
    <div><a href="./ver-categorias/"><button class="btn btn-primary" id="btnVerCategoria" type="button">Ver Categorías</button></a></div>
    <br>
    <div><a href="./selecciona_categoria/"><button class="btn btn-primary" id="btnVerCategoria" type="button">Editar o eliminar categorias</button></a></div>
  </div>
</body>