{% load static %}
<title> Deliver&Eats | Categorías</title>
<link href="https://fonts.googleapis.com/css?family=Istok+Web&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/categoria/index-categoria.css' %}">

<body>
	<div class="return-btn" style="text-align: start">
		<a class="btn btn-primary" href="../../../administrador/">Volver</a>
	</div>
  <h1 align="center">Categorías</h1>
  <br>
  <div id="btn-group-justified category-select" data-toggle="buttons" align="center">
    <div><a href="./crear-categoria/"><button class="btn btn-primary" id="btnCrearCategoria" type="button">Crear categoría</button></a></div>
    <br>
    <div><a href="./ver-categorias/"><button class="btn btn-primary" id="btnVerCategoria" type="button">Ver Categorías</button></a></div>
    <br>
    <div><a href="./selecciona_categoria/"><button class="btn btn-primary" id="btnVerCategoria" type="button">Editar o eliminar categorias</button></a></div>
  </div>
</body>