{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Lista de categorias</title>
	
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/categoria/lista_categorias.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Istok+Web&display=swap" rel="stylesheet">

</head>
<body>
<h1 align="center">Categorías</h1>

<div class="container"> 

<table class="table table-bordered">
	{% if categorias %}

	<thead>

		<tr>
			<td>#</td>
			<td>Nombre de categoría</td>
		</tr>
		
	</thead>
	<tbody>
		{% for categoria in categorias %}
		<tr>
			<td></td>
			<td>{{categoria}}</td>
			
		</tr>
		
	
	</tbody>
	{% endfor %}
		{% else %}
		<h1 align="center">No existen categorias generadas</h1>
		<br>
		<div class="imagen-vacia" align="center">
				<img class="img-fluid rounded d-block m-l-none" style="width: 100px; height: 200px;" src="{% static 'imagenes/categorias/categorias-vacias.jpg' %}" align="center" />
		</div>

		{% endif %}
</table> 
	
</div>


</body>
</html>