{% load static %}
<title> Deliver&Eats | Platillos</title>
<link rel="stylesheet" type="text/css" href={% static 'platillo/css/index_platillos.css'%}> 
<link href="https://fonts.googleapis.com/css?family=Istok+Web&display=swap" rel="stylesheet">

<body>
  <h1>Platillos</h1>
  <div id="container">
    <div><a href="{% url 'crear_platillo'%}"><button id="btnCrearPlatillo" type="button">Crear Platillo</button></a></div>
    <div><a href="{% url 'seleccionar'%}"><button id="btnEditarPlatillo" type="button">Editar Platillo</button></a></div>
    <div><a href="{% url 'seleccionar'%}"><button id="btnEliminarPlatillo" type="button">Borrar Platillo</button></a></div>
    <div><a href="{% url 'ver'%}"><button id="btnVerPlatillos" type="button">Ver Platillos</button></a></div>
  </div>
</body>