body{
    background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)),url("../../../static/imagenes/categorias.jpg") no-repeat fixed;
    background-size: 100%;
}

#boton-volver{
    margin: 10px;
}

#tabla thead tr{
    background-color: #9acd32;
}

#tabla tbody tr:last-of-type{
    border-bottom: 3px solid #9acd32;
}
